/** barra de navegación */
/* @media screen and (max-width: 768px) {
	.nav-bg {
		background-color: transparent;
	}

	.menu-btn {
		display: flex;
		position: fixed;
		right: 1rem;
	}

	.nav-menu {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 60px;
		background-color: #333;
		width: 100%;
		height: 80%;
	}

	.nav-menu.active {
		display: flex;
		position: fixed;
		width: auto;
		right: 0;
		flex-direction: row;
		background-color: var(--black);
		-webkit-box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.74);
		-moz-box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.74);
		box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.74);
	}

	.nav-menu ul {
		flex-direction: column;
	}
} */

/**Contenedor HERO*/
/* @media screen and (max-width: 1440px) {
    .container {
        position: relative;
        padding-top: 25%;
        padding-left: 140px;
    }
}

@media screen and (max-width: 1440px) {
    .logo {
        align-self: center;
        width: auto;
        height: 70%;
        padding-top: 5rem;
        padding-right: 10rem;
    }
}

@media screen and (max-width: 1366px) {
    .container {
        padding-left: 80px;
    }
}

@media screen and (max-width: 1366px) {
    .logo {
        position: relative;
        align-self: center;
        width: auto;
        height: 70%;
        left: 25px;
    }
}

/** barra de navegación */
/* @media screen and (max-width: 768px) {
    .menu-btn {
        display: flex;
        position: fixed;
        right: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .nav-menu ul {
        flex-direction: column;
        align-items: center;
        padding: 60px 0;
    }
}

@media screen and (max-width: 768px) {
    .nav-menu a {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        position: relative;
        padding: 0;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .main {
        background-size: cover;
        background-position: left;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        position: relative;
        align-self: center;
        width: auto;
        height: 50%;
        left: 85px;
    }
}

@media screen and (max-width: 712px) {
    .container {
        position: relative;
        padding: 0;
        width: 100%;
    }
}

@media screen and (max-width: 712px) {
    .main {
        background-size: cover;
        background-position: left;
    }
}

@media screen and (max-width: 712px) {
    .logo {
        position: relative;
        align-self: center;
        width: auto;
        height: 50%;
        left: 65px;
    }
} */

/* @media screen and (max-width: 425px) {
    .container {
        position: relative;
        padding: 0;
        width: 100vw;
        height: 100vh;
        background-size: contain;
    }
} */

/* @media screen and (max-width: 425px) {
    .main {
        display: flex;
        background-size: cover;
        align-items: stretch;
    }
} */

/* @media screen and (max-width: 425px) {
    .logo {
        position: relative;
        align-self: center;
        width: 70%;
        height: 50%;
        left: 90px;

    }
} */

/* @media screen and (max-width: 412px) {
    nav {

        justify-content: flex-start;
        padding-left: 2rem;
    }
} */

/* @media screen and (max-width: 412px) {
    .container {
        position: relative;
        padding: 0;
        height: 640px;
        width: 410px;
    }
} */

/* @media screen and (max-width: 412px) {
    .logo {
        position: relative;
        align-self: center;
        width: 100%;
        height: 50%;
        left: 80px;
    }
} */

/* @media screen and (max-width: 390px) {
    .container {
        position: relative;
        padding: 0;
        height: 640px;
        width: 410px;
    }
} */

/* @media screen and (max-width: 390px) {
    .logo {
        position: relative;
        align-self: center;
        width: 100%;
        height: 50%;
        left: 80px;
    }
} */

/* @media screen and (max-width: 375px) {
    .container {
        position: relative;
        padding: 0;
        height: 640px;
        width: 410px;
    }
} */

/* @media screen and (max-width: 375px) {
    .logo img {
        position: relative;
        align-self: center;
        width: 100%;
        height: 50%;
        left: 80px;
    }
} */

/* @media screen and (max-width: 360px) {
    .container {
        position: relative;
        padding: 0;
        height: 640px;
        width: 410px;
    }
} */

/* @media screen and (max-width: 360px) {
    .logo img {
        position: relative;
        align-self: center;
        width: 100%;
        height: 50%;
        left: 80px;
    }
} */

/* @media screen and (max-width: 320px) {
    .logo img {
        position: relative;
        align-self: auto;
        width: auto;
        height: 25%;
        left: 78px;
        bottom: 10rem;
    }
} */

/** SERVICIOS **/
