/** Estos son Pseudoselectores**/
/* Globales */
* {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: Arial, sans-serif;
}

:root {
    /*Custom properties*/
    --white: rgb(255, 255, 255);
    --black: #0A0A0A;
    --yellow: #ffda79;
    --salmon: rgb(255, 176, 148);
    --blue: #34ace0;
    --gris: #D6D7D6;
    --grisOscuro: rgb(99, 107, 123);
    --oscuro: rgb(40, 45, 50);
    --red: #ff5252;
    --fuentes-principal: 3.8rem;
}

h1 {
    font-size: 3.8rem;
    color: var(--white);
}

h2 {
    font-size: 2.8rem;
    color: var(--grisOscuro);
    margin-top: auto;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;

}

p {
    color: var(--black);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
}

/**Barra de Navegación**/

.menu-btn {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 3px 0;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--black);
    color: white;
    width: 100%;
    height: 1rem;
    padding: 1rem;
    position: fixed;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.nav-menu li {
    margin: 0 20px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 768px) {
    .menu-btn {
        display: flex;
        position: fixed;
        right: 1rem;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        background-color: #333;
        width: 100%;
        height: 80%;
    }

    .nav-menu.active {
        display: flex;
        position: fixed;
        width: 100%;
        right: 0;

    }

    .nav-menu ul {
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .nav-menu li {
        margin: 10px 0;
    }
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: #fff;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-right: 50px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem;

}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: #00f;
    text-decoration-thickness: 6px;
    transition: text-decoration-color 0.5s ease-in-out;
}

.nav-bg {
    background-color: var(--black);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    z-index: 1000;

}

.nav-principal {
    padding-right: 1rem;
}

.nav-principal a:hover {
    font-weight: lighter;

}

.btn-menu {
    display: flex;
    justify-content: flex-end;
    gap: auto;

}


/** hero **/

.main {

    background-image: url('/img/background-sec02.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
}

.construction {
    display: flex;
    justify-content: center;
    align-items: center;
}

.construction img {
    width: 100%;
}





.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 100%;

}

.logo {
    align-self: center;
    width: auto;
    height: 80%;
}


/* .hero {
    background-image: url('/img/background-sec02.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; 
    } */



/* .logo img {
    margin-top: 150px;
    margin-left: 150px;
} */

/* Media queries para hacer el logotipo responsive */
/* @media only screen and (max-width: 1440px) {
    .logo {
        max-width: 250px;
    }
}

@media only screen and (max-width: 1366px) {
    .logo {
        max-width: 220px;
    }
}

@media only screen and (max-width: 768px) {
    .logo {
        max-width: 180px;
    }
}

@media only screen and (max-width: 412px) {
    .logo {
        max-width: 150px;
        display: flex;
        justify-content: space-around;
        margin-left: 50px;
    }
}

@media only screen and (max-width: 390px) {
    .logo {
        max-width: 130px;
    }
}

@media only screen and (max-width: 375px) {
    .logo {
        max-width: 120px;
    }
}

@media only screen and (max-width: 360px) {
    .logo {
        max-width: 110px;
    }
}

@media only screen and (max-width: 320px) {
    .logo {
        max-width: 80px;
    }
} */


































/* .hero {
    background-image: url(./img/background-sec02jpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
} */

/* .logo {

    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100vh;
} */

/* .logo img {

    width: 80%;
    height: 80%;
} */

/* .contenido-hero {
    background-color: #0A0A0A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh);
    position: relative;
} */

/* .contenido-hero img {
    border-radius: 100%;
} */






/**servicios**/
/* .main {
    -webkit-box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.74);
    box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.74);
    background-color: var(--gris);
    width: 100%;
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* 
.main h2 {
    padding: 1rem;

} */

/* .section {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;

} */

/* .section img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
} */

/* .aside {

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-right: 7rem;

} */
/* 
.title {
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    width: 100%;
    height: 50%;
    padding: 5rem;
} */

/* .content-aside {
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: justify;
    margin-inline: 3rem;
    width: 90%;
    height: 20%;



} */















/** Footer **/

.footer {
    text-align: center;
    font-size: larger;
    font-weight: bold;

}

.footer p {
    color: var(--black);
}

.bot-ini {
    display: flex;
    justify-content: center;
}

/** Media Query **/

/* 
@media(max-width: 319px) {

    .contenido-hero img {
        display: flex;
        align-items: center;
        justify-items: center;
        height: 80%;
        width: 100%;
        border-radius: 0;
    }
}

@media(max-width: 480px) {

    .contenido-hero img {

        display: flex;
        align-items: center;
        justify-items: center;
        height: 80%;
        width: 100%;
        border-radius: 0;

    }
}

@media(max-width: 768px) {

    .contenido-hero img {

        display: flex;
        align-items: center;
        justify-items: center;
        height: 80%;
        width: 100%;
        border-radius: 0;


    }
} */