/** Estos son Pseudoselectores**/

:root {
	/*Custom properties*/
	--white: rgb(255, 255, 255);
	--black: #0a0a0a;
	--yellow: #ffda79;
	--salmon: rgb(255, 176, 148);
	--blue: #34ace0;
	--gris: #d6d7d6;
	--grisOscuro: rgb(99, 107, 123);
	--oscuro: rgb(40, 45, 50);
	--red: #ff5252;
	--fuentes-principal: 3.8rem;
}

* {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial, sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	height: 100%;
	font-size: 62.5;
}
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}

h1 {
	font-size: 1.5rem;
	color: var(--white);
}

h2 {
	font-size: 1.2rem;
	color: var(--grisOscuro);
}

h3 {
	font-size: 0.8rem;
	color: var(--grisOscuro);
}

h1,
h2,
h3 {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
}

p {
	color: var(--black);
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 1rem;
}
spam {
	color: var(--gris);
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.grid-container > * {
	box-shadow: 10px 6px 37px -13px rgba(51, 51, 51, 0.74);
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	font-weight: 500;
}
/** 01 BARRA DE MENU */
.nav-menu {
	grid-area: nav-menu;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--black);
	color: white;
	height: 2rem;
	padding: 1rem;
	z-index: 1000;
}
.nav-menu ul {
	list-style: none;
	display: flex;
	margin: 0;
	flex-direction: row;
	justify-content: flex-end;
	padding: 0;
}
.nav-menu ul li {
	margin: 0 10px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 1rem;
}
.nav-menu ul li a {
	text-decoration: none;
	color: var(--yellow);
	font-size: 16px;
}
.nav-menu a:hover {
	text-decoration: revert-layer;
	text-decoration-color: #00f;
	text-decoration-thickness: 6px;
	transition: text-decoration-color 0.5s ease-in-out;
}

/** 02 COVER BLOCKS LOGO */
.header {
	grid-area: header;
	background-color: var(--black);
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}
.cover-blocks img {
	max-width: 100%;
	height: 50vh;
	top: 1rem;
	background-repeat: no-repeat;
	background-size: cover;
}

/** 03 SECCIONES */
.aside-container {
	grid-area: aside;
	display: grid;
	position: relative;
	max-width: 100%;
	min-height: auto;
	background-color: var(--grisOscuro);
	border-radius: 10px;
	justify-items: center;
	align-items: start;
	justify-content: center;
	top: 1rem;
	bottom: 1rem;
}
.aside-item-01 img {
	display: block;
	margin: 0 auto;
	width: 80%;
	height: auto;
}
.aside-item-02 {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.aside-container h2 {
	display: flex;
	font-size: 1.5rem;
	color: var(--black);
	text-align: center;
}
.aside-container p {
	display: flex;
	font-size: 1rem;
	color: var(--black);
	text-align: justify;
	margin: 1rem;
}

/** servicios **/
.services-container {
	grid-area: services;
	display: grid;
	position: relative;
	max-width: 100%;
	min-height: auto;
	background-color: var(--oscuro);
	border-radius: 10px;
	justify-items: center;
	align-items: start;
	justify-content: center;
	top: 2rem;
	bottom: 1rem;
}
.services-item img {
	display: block;
	margin: 1rem auto;
	width: 100%;
	height: auto;
	align-items: center;
	justify-content: center;
	position: relative;
}
.services-txt {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.services-txt li {
	color: var(--white);
}

.services-container h2 {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	color: var(--white);
	text-align: center;
}

.services-txt ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;
	font-size: 1rem;
	color: var(--black);
	text-align: left;
	margin: 1rem 1rem 5rem 1rem;
	flex-direction: column;
	position: relative;
}

.slogan {
	grid-area: slogan;
	display: grid;
	position: relative;
	max-width: 100%;
	min-height: auto;
	background-color: var(--black);
	border-radius: 10px;
	justify-items: center;
	align-items: start;
	justify-content: center;
	top: 3rem;
	margin: 2rem 1rem 2rem 1rem;
}
.slogan h1 {
	display: flex;
	font-size: 0.8rem;
	color: var(--white);
	text-align: center;
}

.footer {
	grid-area: footer;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: var(--oscuro);
	top: 6rem;
}
.footer p,
.footer span,
.footer a {
	margin: 1px 0;
	margin-bottom: 10px;
	color: var(--white);
}
.footer h2 {
	color: var(--white);
	margin: 1rem;
}
.footer img {
	width: 100%;
	height: auto;
	margin-bottom: 3rem;
}

.footer a:hover {
	text-decoration: revert-layer;
	text-decoration-color: #00f;
	text-decoration-thickness: 6px;
	transition: text-decoration-color 0.5s ease-in-out;
}

/** Dispositivo Mobil ESTRUCTURA */
.grid-container {
	display: grid;
	padding: 10px;
	gap: 1rem;
	grid-template:
		'nav-menu' 50px
		'header' 50vh
		'aside' auto
		'services' auto
		'slogan' auto
		'footer' auto;
}
