h1 {
    font-size: 38px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 18px;
}

body {
    font-family: Montserrat,
        "Open Sans",
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(64, 64, 65);
    text-align: justify;
}



header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

.content {
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 20px;

}

.content p {
    font-size: 20px;
}

.actual {
    text-align: end;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0px 10px 0px;
    min-height: 0px;
    position: relative;
    bottom: 0;
    width: 100%;
    border: none;
    font-size: 16px;

}

footer a {
    color: antiquewhite;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th,
.data-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.data-table th {
    background-color: #f2f2f2;
}